button {
  padding: 1em;
  margin: 1em;
  border-radius: 2em;
}
.totalcost {
  padding-bottom: 1em;
}
.pizzas {
  text-align: center;
  border: 1px solid #c5235e;
  padding: 3em;
  margin: 1em;
  border-radius: 5em;
  margin: bottom 0.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.Cart {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1bfc6;
  margin: 1em;
  border-radius: 5em;
  background-color: #f5e5eb;
  margin: bottom 0.5em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.medium_pizza {
  background-color: #f9d6e3;
  flex: 3;
}
img {
  border-radius: 2em;
}
.small_pizza {
  background-color: #e7cfd8;
  flex: 3;
}
.large_pizza {
  background-color: #e6c7d2;
  flex: 3;
}
.contact_us {
  background-color: #e2c2ce;
}
@media (min-width: 760px) {
  body {
    background-color: #b995a3;
  }
}
@media (min-width: 960px) {
  body {
    background-color: rgb(204, 212, 212);
  }
  .pizza {
    display: flex;
  }
}
